

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

footer {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: darkgray;
    text-align: center;
    bottom: 0;
    padding: 30px;
    margin-top: 50px;
}

h1{
    margin-top: 60px;
}

.background-color{
    background-color: gray;
}

